* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 400px;
}

body,
button,
textarea {
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  color: #bdc1c6;
}

textarea,
button {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
